button{
    background-color: white;
    color:black;
    border:2px solid;
    border-radius: 5;
    border-color: white;
    transition: 300ms ease-in-out;
}

button:hover{
    background-color: black;
    color:white;
    border-color: black;
    transition: 300ms ease-in-out;
}